#our-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    padding: 125px 100px;
    gap: 100px 10%;
    max-width: 1700px;
    background: #F2F5FB;
    border: 1px solid #0881D1;
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    margin: 50px auto;

    .item {
        .title {
            color: #0664A2;
            font-size: 26px;
            font-weight: bold;
            margin: 20px 0;
        }

        .subtitle {
            font-size: 26px;
            font-weight: bold;
            margin: 0;
            text-align: left;
            color: #0664A2;
            text-transform: uppercase;
        }

        .desc {
            position: relative;
            font-size: 18px;
            color: #043A5D;
            padding-top: 20px;
            height: 7em;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                background: #0881D1;
                width: 100%;
                opacity: .5;
            }
        }

        .read-more {
            color: #FFF;
            background: #0881D1;
            border-radius: 6px;
            padding: .5em 1em;
            text-decoration: none;
        }

        &.hero {
            grid-column: span 3;
            display: flex;
            flex-direction: row-reverse;

            .text-box {
                width: 30%;
                margin-right: 8%;
            }

            .title {
                font-size: 62px;
            }

            .desc {
                &:before {
                    width: 60%;
                }
            }
        }

        .pic {
            display: block;
            width: 100%;
            border-radius: 10px;
        }
    }
}